.example-form-field {
  width: 200px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.loader {
  padding: 12px;
}

button.mat-raised-button {
  margin: 20px;
}